body {
  //background: linear-gradient( 182deg, #ffc0cb, #ffc0cb 26%, rgba(0,0,0,0) );
  margin: 0;
}
canvas {
  position: absolute;
  top: 0;
  background-color: transparent;
}


.border {
  width: 100%;
  height: 100%;
  background: transparent;
  border: 32px #4c4c4c solid;
  border-radius: 36px;
  position: absolute;
  top: 0;
  z-index: 100;
  box-sizing: border-box;
  box-shadow: 0px 0px 0px 20px #4c4c4c;
}

.alien-boy {
  position: absolute;
  top: 300;
  left: 30;
}

.head {
  background-image: url('../img/alien-boy-sprite.png');
  background-position: 0px 0px;
  width: 196px;
  height: 256px;
  position: absolute;
}

.toothie {
  background-image: url('../img/toothie.png');
  width: 13px;
  height: 16px;
  position: absolute;
  opacity: 0;
  left: 108px;
  top: 150px;
}

.ammo-face {
  background-image: url('../img/ammo-face.png');
  width: 98px;
  height: 128px;
  background-size: cover;
  display: inline-block;
}

.ammo-counter {
  display: inline-block;
  line-height: 128px;
  vertical-align: text-bottom;
}

.blink {
  -webkit-animation: .25s step-start 0s 1 blink;
     -moz-animation: .25s step-start 0s 1 blink;
       -o-animation: .25s step-start 0s 1 blink;
          animation: .25s step-start 0s 1 blink;
}

.eyebrows {
  -webkit-animation: 1s step-start 0s 6 eyebrows;
     -moz-animation: 1s step-start 0s 6 eyebrows;
       -o-animation: 1s step-start 0s 6 eyebrows;
          animation: 1s step-start 0s 6 eyebrows;
}

.toofshoof {
  -webkit-animation: 1.5s linear 0s 1 toofshoof;
     -moz-animation: 1.5s linear 0s 1 toofshoof;
       -o-animation: 1.5s linear 0s 1 toofshoof;
          animation: 1.5s linear 0s 1 toofshoof;
}

.spit {
  -webkit-animation: 1s step-start 0s 1 spit;
     -moz-animation: 1s step-start 0s 1 spit;
       -o-animation: 1s step-start 0s 1 spit;
         animation: .5s step-start 0s 1 spit;
}

.body {
  background-image: url('../img/alien-boy-sprite.png');
  background-position: 0px -256px;
  width: 196px;
  height: 256px;
  position: absolute;
}

.walking {
  -webkit-animation: 1s linear 0s 1 walking;
     -moz-animation: 1s linear 0s 1 walking;
       -o-animation: 1s linear 0s 1 walking;
          animation: 1s linear 0s 1 walking;
}

.ground {
  margin-top: 386px;
  #margin-left: -10px;
  #margin-right: -10px;
}

.ground-layer {

}

.ground-layer-odd {
  margin-left: -10px;
}

.ground-tile {
  background-image: url('../img/alien-boy-sprite.png');
  //background-size: 294px 192px;
  display: inline-block;
  //width: 49px;
  //height: 32px;
  width: 196px;
  height: 128px;
  float: left
}

.ground-tile-green {
  background-position: 0px -512px;
}

.ground-tile-purp {
  background-position: -196px -512px;
}

.ground-tile-blue {
  background-position: -392px -512px;
}

.ground-tile-grey {
  background-position: -588px -512px;
}

.ground-tile-multi {
  background-position: -784px -512px;
}

.ground-tile-blugre {
  background-position: -980px -512px;
}

/*.ground-tile-green {
  background-position: 0px -128px;
}

.ground-tile-purp {
  background-position: -49px -128px;
}

.ground-tile-blue {
  background-position: -98px -128px;
}

.ground-tile-grey {
  background-position: -147px -128px;
}

.ground-tile-multi {
  background-position: -196px -128px;
}

.ground-tile-blugre {
  background-position: -245px -128px;
}*/

@keyframes blink {
  25% {
    background-position: -196px 0px;
  }
  50% {
    background-position: -392px 0px;
  }
  75% {
    background-position: -196px 0px;
  }
}


@keyframes eyebrows {
  0% {
    background-position: 0px -768px;
  }
  50% {
    background-position: -196px -768px;
    left: -1;
  }
  100% {
    background-position: 0px -768px;
  }
}

@keyframes walking {
  25% {
    top: -6px;
  }

  50% {
    top: 6px;
  }

  75% {
    top: -3px;
  }
}

@keyframes toofshoof {
    0% {
      transform: translate(0) rotate(0deg);
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    100% {
      transform: translate(360px) rotate(360deg);
      opacity: 0;
    }
}

@keyframes spit {
    0% {
      background-position: -196px -768px;
    }
    8% {
      background-position: -392px -768px;
    }
    20% {
      background-position: -588px -768px;
    }
    60% {
      background-position: -784px -768px;
    }
    80% {
      background-position: -588px -768px;
    }
    98% {
      background-position: -392px -768px;
    }
}